body{
background-color: rgb(48, 38, 38); width: 5000px; font-size: ;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



h1{
    color: rgba(125, 219, 31, 0.856)
}
h2{
    color:rgb(87, 155, 20)
}
h3{color:rgb(111, 182, 39)  
